.w3-metro-light-green
{color:#fff;background-color:#99b433}
.w3-metro-green
{color:#fff;background-color:#00a300}
.w3-metro-dark-green
{color:#fff;background-color:#1e7145}
.w3-metro-magenta
{color:#fff;background-color:#ff0097}
.w3-metro-light-purple
{color:#fff;background-color:#9f00a7}
.w3-metro-purple
{color:#fff;background-color:#7e3878}
.w3-metro-dark-purple
{color:#fff;background-color:#603cba}
.w3-metro-darken
{color:#fff;background-color:#1d1d1d}
.w3-metro-teal
{color:#fff;background-color:#00aba9}
.w3-metro-light-blue
{color:#000;background-color:#eff4ff}
.w3-metro-blue
{color:#fff;background-color:#2d89ef}
.w3-metro-dark-blue
{color:#fff;background-color:#2b5797}
.w3-metro-yellow
{color:#fff;background-color:#ffc40d}
.w3-metro-orange
{color:#fff;background-color:#e3a21a}
.w3-metro-dark-orange
{color:#fff;background-color:#da532c}
.w3-metro-red
{color:#fff;background-color:#ee1111}
.w3-metro-dark-red
{color:#fff;background-color:#b91d47}


$color_2018_UltraViolet: #6b5b95;
$color_2018_RedPear: #7f4145;
$color_2018_ValiantPoppy: #bd3d3a;
$color_2018_NebulasBule: #3f69aa;
$color_2018_CeylonYellow: #d5ae41;
$color_2018_MartiniOlive: #766f57;
$color_2018_RussetOrange: #e47a2e;
$color_2018_CrocusPetal: #be9ec9;
$color_2018_Limelight: #F1EA7E;
$color_2018_QuetzalGreen: #006e6d;
$color_2018_SargassoSea: #485167;
$color_2018_Tofu: #eae6da;
$color_2018_AlmondBuff: #d1b894;
$color_2018_QuietGray: #bcbcbe;
$color_2018_Meerkat: #a9754f;
$color_2018_Meadowlark: #ecdb54;
$color_2018_CherryTomato: #e94b3c;
$color_2018_LittleBoyBlue: #6f9fd8;
$color_2018_ChiliOil: #944743;
$color_2018_PinkLavender: #dbb1cd;
$color_2018_BloomingDahlia:#ec9787;
$color_2018_SailorBlue: #2e4a62;
$color_2018_HarborMist: #b4b7ba;
$color_2018_WarmSand: #c0ab8e;
$color_2018_CoconutMilk: #f0ede5;

// Color Names Supported by All browsers
$color_Black: #000000;
$color_Navy: #000080;
$color_DarkBlue: #00008B;
$color_MediumBlue: #0000CD;
$color_Blue: #0000FF;
$color_DarkGreen: #006400;
$color_Green: #008000;
$color_Teal: #008080;
$color_DarkCyan: #008B8B;
$color_DeepSkyBlue: #00BFFF;
$color_DarkTurquoise: #00CED1;
$color_MediumSpringGreen: #00FA9A;
$color_Lime: #00FF00;
$color_SpringGreen: #00FF7F;
$color_Aqua: #00FFFF;
$color_Cyan: #00FFFF; //Aqua와 Cyan은 같은 HEX code를 사용한다.//
$color_MidnightBlue: #191970;
$color_DodgerBlue: #1E90FF;
$color_LightSeaGreen: #20B2AA;
$color_ForestGreen: #228B22;
$color_SeaGreen: #2E8B57;
$color_DarkSlateGray: #2F4F4F;
$color_LimeGreen: #32CD32;
$color_MediumSeaGreen: #3CB371;
$color_Turquoise: #40E0D0;
$color_RoyalBlue: #4169E1;
$color_SteelBlue: #4682B4;
$color_DarkSlateBlue: #483D8B;
$color_MediumTurquoise: #48D1CC;
$color_Indigo: #4B0082;
$color_DarkOliveGreen: #556B2F;
$color_Cadetblue: #5F9EA0;
$color_CornflowerBlue: #6495ED;
$color_RebeccaPurple: #663399;
$color_MediumAquaMarine: #66CDAA;
$color_DimGray: #696969;
$color_SlateBule: #6A5ACD;
$color_OliveDrab: #6B8E23;
$color_SlateGray: #708090;
$color_MediumSlateBlue: #7B68EE;
$color_LawnGreen:	#7CFC00;

$color_Chartreuse 	#7FFF00;

$color_Aquamarine 	#7FFFD4;
$color_Maroon 	#800000;
$color_Purple 	#800080;
$color_Olive 	#808000;
$color_Gray 	#808080;
$color_SkyBlue 	#87CEEB;
$color_LightSkyBlue 	#87CEFA;
$color_BlueViolet 	#8A2BE2;
$color_DarkRed 	#8B0000;
$color_DarkMagenta 	#8B008B;
$color_SaddleBrown: #8B4513;
$color_DarkSeaGreen 	#8FBC8F;
$color_LightGreen 	#90EE90;
$color_MediumPurple 	#9370DB;
$color_DarkViolet 	#9400D3;
$color_PaleGreen 	#98FB98;
$color_DarkOrchid 	#9932CC;
$color_YellowGreen 	#9ACD32;
$color_Sienna 	#A0522D;
$color_Brown 	#A52A2A;
$color_DarkGray 	#A9A9A9;
$color_LightBlue 	#ADD8E6;
$color_GreenYellow 	#ADFF2F;
$color_PaleTurquoise 	#AFEEEE;
$color_LightSteelBlue 	#B0C4DE;
$color_PowderBlue 	#B0E0E6;
$color_FireBrick 	#B22222;
$color_DarkGoldenRod 	#B8860B;
$color_MediumOrchid 	#BA55D3;
$color_RosyBrown 	#BC8F8F;
$color_DarkKhaki 	#BDB76B;
$color_Silver 	#C0C0C0;
$color_MediumVioletRed 	#C71585;
$color_IndianRed  	#CD5C5C;
$color_Peru 	#CD853F;
$color_Chocolate 	#D2691E;
$color_Tan 	#D2B48C;
$color_LightGray 	#D3D3D3;
$color_Thistle 	#D8BFD8;
$color_Orchid 	#DA70D6;
$color_GoldenRod 	#DAA520;
$color_PaleVioletRed 	#DB7093;
$color_Crimson 	#DC143C;
$color_Gainsboro 	#DCDCDC;
$color_Plum 	#DDA0DD;
$color_BurlyWood 	#DEB887;
$color_LightCyan 	#E0FFFF;
$color_Lavender 	#E6E6FA;
$color_DarkSalmon 	#E9967A;
$color_Violet 	#EE82EE;
$color_PaleGoldenRod 	#EEE8AA;
$color_LightCoral 	#F08080;
$color_Khaki 	#F0E68C;
$color_AliceBlue 	#F0F8FF;
$color_HoneyDew 	#F0FFF0;
$color_Azure 	#F0FFFF;
$color_SandyBrown 	#F4A460;
$color_Wheat 	#F5DEB3;
$color_Beige 	#F5F5DC;
$color_WhiteSmoke 	#F5F5F5;
$color_MintCream 	#F5FFFA;
$color_GhostWhite 	#F8F8FF;
$color_Salmon 	#FA8072;
$color_AntiqueWhite 	#FAEBD7;
$color_Linen 	#FAF0E6;
$color_LightGoldenRodYellow 	#FAFAD2;
$color_OldLace 	#FDF5E6;
$color_Red 	#FF0000;
$color_Fuchsia 	#FF00FF;
$color_Magenta 	#FF00FF;
$color_DeepPink 	#FF1493;
$color_OrangeRed 	#FF4500;
$color_Tomato 	#FF6347;
$color_HotPink 	#FF69B4;
$color_Coral 	#FF7F50;
$color_DarkOrange 	#FF8C00;
$color_LightSalmon 	#FFA07A;
$color_Orange 	#FFA500;
$color_LightPink 	#FFB6C1;
$color_Pink 	#FFC0CB;
$color_Gold 	#FFD700;
$color_PeachPuff 	#FFDAB9;
$color_NavajoWhite 	#FFDEAD;
$color_Moccasin 	#FFE4B5;
$color_Bisque 	#FFE4C4;
$color_MistyRose 	#FFE4E1;
$color_BlanchedAlmond 	#FFEBCD;
$color_PapayaWhip 	#FFEFD5;
$color_LavenderBlush 	#FFF0F5;
$color_SeaShell 	#FFF5EE;
$color_Cornsilk 	#FFF8DC;
$color_LemonChiffon 	#FFFACD;
$color_FloralWhite 	#FFFAF0;
$color_Snow 	#FFFAFA;
$color_Yellow 	#FFFF00;
$color_LightYellow 	#FFFFE0;
$color_Ivory 	#FFFFF0;
$color_White 	#FFFFFF;
